/* index del sitio Tap */

h1,
h3,
p {
	color: var(--color-text);
}

/* Estilos Scrollbar  - inicio */
html {
	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;
	--bg: #fcfcfc;
	--bg-panel: #ebebeb;
	--color-headings: #333333;
	--text-button: #ebebeb;
	--color-text2: #1c1b1b;
}

html[data-theme='dark'] {
	--bg: #333333;
	--bg-panel: #434343;
	--color-headings: #ebebeb;
	--color-text: #b5b5b5;
	--text-button: #333333;
	--color-text2: #ebebeb;
}

body {
	overflow-x: hidden;
	background-color: var(--bg);
}

body::-webkit-scrollbar {
	width: 13px;
}
body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}
/* Estilos Scrollbar  - fin */

/* header - inicio */

.stores {
	width: 20% !important;
	margin-right: 0.9rem;
	margin-left: -10px;
}

hr.solid {
	border-top: 2px solid #999;
	width: 70%;
}

.mobile-container {
	justify-content: flex-end;
	align-items: center;
	margin-right: 6rem;
	float: right;
}

.mobile-wrapper {
	position: relative;
	top: -2.3rem;
	right: 4.15rem;
	border-radius: 18px;
	border: 15px solid #ffffff;
	box-shadow: 1px 1px 5.5px 1px rgba(0, 0, 0, 0.4);
	padding-top: 1rem;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 320px;
	height: 527px;
	flex: 0 auto;
	background: #ececec;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 7rem;
	right: 10.1rem;
}

.scrolled-down {
	position: relative;
	top: 1870px;
	right: 4.1rem;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ececec;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #74899c;
}

#barra-nav {
	height: 8rem !important;
	background-color: #224567 !important;
	display: block !important;
	text-align: center;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	width: 100%;
}

.contenido-texto1 {
	margin-left: 5rem;
	margin-top: 7.5em;
	margin-bottom: 15rem;
	font-family: 'Comfortaa', cursive;
}

.media-phone1 {
	margin-left: -20px;
}

.arrow {
	width: 5rem;
}

.left {
	float: left;
	position: relative;
	top: 10rem;
}

.right {
	position: relative;
	float: right;
	bottom: 20rem;
}

.texto-azul {
	color: #002350 !important;
}

/* Toggle Switch */
.toggle-container {
	position: relative;
	left: 3rem;
	bottom: 0.4rem;
}

input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
	-webkit-appearance: none;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 107px;
	height: 35px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #333333;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 55px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}

/* MOBIRISE ESTILOS */
.display-1 {
	font-family: 'Comfortaa', display;
	font-size: 4.25rem;
	font-display: swap;
}
.display-1 > .mbr-iconfont {
	font-size: 6.8rem;
}
.display-2 {
	font-family: 'Comfortaa', display;
	font-size: 3rem;
	font-display: swap;
}
.display-2 > .mbr-iconfont {
	font-size: 4.8rem;
}
.display-4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-display: swap;
}
.display-4 > .mbr-iconfont {
	font-size: 1.6rem;
}
.display-5 {
	font-family: 'Comfortaa', display;
	font-size: 1.5rem;
	font-display: swap;
}
.display-5 > .mbr-iconfont {
	font-size: 2.4rem;
}
.display-7 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-display: swap;
}
.display-7 > .mbr-iconfont {
	font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
	.display-1 {
		font-size: 3.4rem;
		font-size: calc(
			2.1374999999999997rem + (4.25 - 2.1374999999999997) *
				((100vw - 20rem) / (48 - 20))
		);
		line-height: calc(
			1.4 *
				(
					2.1374999999999997rem + (4.25 - 2.1374999999999997) *
						((100vw - 20rem) / (48 - 20))
				)
		);
	}
	.display-2 {
		font-size: 2.4rem;
		font-size: calc(1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)))
		);
	}
	.display-4 {
		font-size: 0.8rem;
		font-size: calc(1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
	}
	.display-5 {
		font-size: 1.2rem;
		font-size: calc(1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)))
		);
	}
}
/* Buttons */
.btn {
	padding: 1rem 3rem;
	border-radius: 3px;
}
.btn-sm {
	padding: 0.6rem 1.5rem;
	border-radius: 3px;
}
.btn-md {
	padding: 1rem 3rem;
	border-radius: 3px;
}
.btn-lg {
	padding: 1.2rem 3.2rem;
	border-radius: 3px;
}
.bg-primary {
	background-color: #cc2952 !important;
}
.bg-success {
	background-color: #f7ed4a !important;
}
.bg-info {
	background-color: #82786e !important;
}
.bg-warning {
	background-color: #879a9f !important;
}
.bg-danger {
	background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
	background-color: #cc2952 !important;
	border-color: #cc2952 !important;
	color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
	color: #ffffff !important;
	background-color: #8c1c38 !important;
	border-color: #8c1c38 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
	color: #ffffff !important;
	background-color: #8c1c38 !important;
	border-color: #8c1c38 !important;
}
.btn-secondary,
.btn-secondary:active {
	background-color: #ff3366 !important;
	border-color: #ff3366 !important;
	color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
	color: #ffffff !important;
	background-color: #e50039 !important;
	border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #ffffff !important;
	background-color: #e50039 !important;
	border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
	background-color: #82786e !important;
	border-color: #82786e !important;
	color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
	color: #ffffff !important;
	background-color: #59524b !important;
	border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
	color: #ffffff !important;
	background-color: #59524b !important;
	border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
	background-color: #f7ed4a !important;
	border-color: #f7ed4a !important;
	color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
	color: #3f3c03 !important;
	background-color: #eadd0a !important;
	border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
	color: #3f3c03 !important;
	background-color: #eadd0a !important;
	border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
	background-color: #879a9f !important;
	border-color: #879a9f !important;
	color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
	color: #ffffff !important;
	background-color: #617479 !important;
	border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
	color: #ffffff !important;
	background-color: #617479 !important;
	border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
	background-color: #b1a374 !important;
	border-color: #b1a374 !important;
	color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
	color: #ffffff !important;
	background-color: #8b7d4e !important;
	border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
	color: #ffffff !important;
	background-color: #8b7d4e !important;
	border-color: #8b7d4e !important;
}
.btn-white {
	color: #333333 !important;
}
.btn-white,
.btn-white:active {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
	color: #808080 !important;
	background-color: #d9d9d9 !important;
	border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
	color: #808080 !important;
	background-color: #d9d9d9 !important;
	border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
	background-color: #333333 !important;
	border-color: #333333 !important;
	color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
	color: #ffffff !important;
	background-color: #0d0d0d !important;
	border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
	color: #ffffff !important;
	background-color: #0d0d0d !important;
	border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
	background: none;
	border-color: #771830;
	color: #771830;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
	color: #ffffff;
	background-color: #cc2952;
	border-color: #cc2952;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
	color: #ffffff !important;
	background-color: #cc2952 !important;
	border-color: #cc2952 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
	background: none;
	border-color: var(--color-headings);
	color: var(--color-headings);
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
	color: var(--text-button);
	background-color: var(--color-headings);
	border-color: var(--color-headings);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
	color: #ffffff !important;
	background-color: #ff3366 !important;
	border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
	background: none;
	border-color: #4b453f;
	color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
	color: #ffffff;
	background-color: #82786e;
	border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
	color: #ffffff !important;
	background-color: #82786e !important;
	border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
	background: none;
	border-color: #d2c609;
	color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
	color: #3f3c03;
	background-color: #f7ed4a;
	border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
	color: #3f3c03 !important;
	background-color: #f7ed4a !important;
	border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
	background: none;
	border-color: #55666b;
	color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
	color: #ffffff;
	background-color: #879a9f;
	border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
	color: #ffffff !important;
	background-color: #879a9f !important;
	border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
	background: none;
	border-color: #7a6e45;
	color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
	color: #ffffff;
	background-color: #b1a374;
	border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
	color: #ffffff !important;
	background-color: #b1a374 !important;
	border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
	background: none;
	border-color: #000000;
	color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
	color: #ffffff !important;
	background-color: #333333 !important;
	border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
	color: #333333;
	background-color: #ffffff;
	border-color: #ffffff;
}
.text-primary {
	color: #cc2952 !important;
}
.text-secondary {
	color: #ff3366 !important;
}
.text-success {
	color: #f7ed4a !important;
}
.text-info {
	color: #82786e !important;
}
.text-warning {
	color: #879a9f !important;
}
.text-danger {
	color: #b1a374 !important;
}
.text-white {
	color: #ffffff !important;
}
.text-black {
	color: var(--color-text) !important;
}

.text-black2 {
	color: var(--text-black2) !important;
}

a.text-primary:hover,
a.text-primary:focus {
	color: #771830 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
	color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
	color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
	color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
	color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
	color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
	color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
	color: #4d4d4d !important;
}
.alert-success {
	background-color: #70c770;
}
.alert-info {
	background-color: #82786e;
}
.alert-warning {
	background-color: #879a9f;
}
.alert-danger {
	background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
	border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
	box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
	border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
	background-color: #cc2952;
	border-color: #cc2952;
	color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
	box-shadow: none;
}
.nav-tabs .nav-link {
	border-radius: 100px !important;
}
a,
a:hover {
	color: #cc2952;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
	color: #f5ccd6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
	color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
	color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
	color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
	color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
	display: none;
}
.form-control {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-display: swap;
}
.form-control > .mbr-iconfont {
	font-size: 1.6rem;
}
blockquote {
	border-color: #cc2952;
}
/* Forms */
.mbr-form .btn {
	margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
	border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type='submit'] {
	border-radius: 100px !important;
	padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type='submit']:hover {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type='submit'] {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.form3 input[type='email'] {
	border-radius: 100px !important;
}
@media (max-width: 349px) {
	.form2 input[type='email'] {
		border-radius: 100px !important;
	}
	.form2 .input-group-btn a.btn {
		border-radius: 100px !important;
	}
	.form2 .input-group-btn button[type='submit'] {
		border-radius: 100px !important;
	}
}
@media (max-width: 767px) {
	.btn {
		font-size: 0.75rem !important;
	}
	.btn .mbr-iconfont {
		font-size: 1rem !important;
	}
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
	background: #cc2952;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
	color: #cc2952;
}
.footer3 input[type='email'],
.footer4 input[type='email'] {
	border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
	border-radius: 100px !important;
}
.footer3 .input-group-btn button[type='submit'],
.footer4 .input-group-btn button[type='submit'] {
	border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type='email'],
.header14 .form-inline input[type='email'] {
	border-radius: 100px;
}
.header13 .form-inline input[type='text'],
.header14 .form-inline input[type='text'] {
	border-radius: 100px;
}
.header13 .form-inline input[type='tel'],
.header14 .form-inline input[type='tel'] {
	border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
	border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
	border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.card-wrapper {
		flex: auto !important;
	}
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
	background-color: #cc2952;
	color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
	transition: 0.4s;
	border-top-color: currentColor;
	border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
	border-top-color: #cc2952;
	border-bottom-color: #cc2952;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker
	.xdsoft_timepicker
	.xdsoft_time_box
	> div
	> div.xdsoft_current {
	color: #ffffff !important;
	background-color: #cc2952 !important;
	box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
	color: #ffffff !important;
	background: #ff3366 !important;
	box-shadow: none !important;
}
.lazy-bg {
	background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
	display: block;
	position: relative;
	padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	background: transparent no-repeat center;
	background-size: contain;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23cc2952' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
	opacity: 0.3;
}
.cid-rJHCTXTBdY .navbar {
	background: var(--bg-panel);
	transition: none;
	min-height: 77px;
	padding: 0.5rem 0;
}
.cid-rJHCTXTBdY .navbar-dropdown.bg-color.transparent.opened {
	background: var(--bg-panel);
}
.cid-rJHCTXTBdY a {
	font-style: normal;
}
.cid-rJHCTXTBdY .nav-item span {
	padding-right: 0.4em;
	line-height: 0.5em;
	vertical-align: text-bottom;
	position: relative;
	text-decoration: none;
}
.cid-rJHCTXTBdY .nav-item a {
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 0 !important;
	margin: 0rem 0.65rem !important;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}
.cid-rJHCTXTBdY .nav-item:focus,
.cid-rJHCTXTBdY .nav-link:focus {
	outline: none;
}
.cid-rJHCTXTBdY .btn {
	padding: 0.4rem 1.5rem;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
}
.cid-rJHCTXTBdY .btn .mbr-iconfont {
	font-size: 1.6rem;
}
.cid-rJHCTXTBdY .menu-logo {
	margin-right: auto;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand {
	display: flex;
	margin-left: 5rem;
	padding: 0;
	transition: padding 0.2s;
	min-height: 3.8rem;
	-webkit-align-items: center;
	align-items: center;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-caption-wrap {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	word-break: break-word;
	min-width: 7rem;
	margin: 0.3rem 0;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
	line-height: 1.2rem !important;
	padding-right: 2rem;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-logo {
	font-size: 4rem;
	transition: font-size 0.25s;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-logo img {
	display: flex;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
	transition: font-size 0.25s;
}
.cid-rJHCTXTBdY .menu-logo .navbar-brand .navbar-logo a {
	display: inline-flex;
}
.cid-rJHCTXTBdY .navbar-toggleable-sm .navbar-collapse {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	padding-right: 5rem;
	width: auto;
}
.cid-rJHCTXTBdY .navbar-toggleable-sm .navbar-collapse .navbar-nav {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding-left: 0;
}
.cid-rJHCTXTBdY .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
	-webkit-align-self: center;
	align-self: center;
}
.cid-rJHCTXTBdY .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
	padding-left: 0;
	padding-bottom: 0;
}
.cid-rJHCTXTBdY .dropdown .dropdown-menu {
	background: #ffffff;
	display: none;
	position: absolute;
	min-width: 5rem;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	text-align: left;
}
.cid-rJHCTXTBdY .dropdown .dropdown-menu .dropdown-item {
	width: auto;
	padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rJHCTXTBdY .dropdown .dropdown-menu .dropdown-item::after {
	right: 0.5rem;
}
.cid-rJHCTXTBdY .dropdown .dropdown-menu .dropdown-submenu {
	margin: 0;
}
.cid-rJHCTXTBdY .dropdown.open > .dropdown-menu {
	display: block;
}
.cid-rJHCTXTBdY .navbar-toggleable-sm.opened:after {
	position: absolute;
	width: 100vw;
	height: 100vh;
	content: '';
	background-color: rgba(0, 0, 0, 0.1);
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	z-index: 1000;
}
.cid-rJHCTXTBdY .navbar.navbar-short {
	min-height: 60px;
	transition: all 0.2s;
}
.cid-rJHCTXTBdY .navbar.navbar-short .navbar-toggler-right {
	top: 20px;
}
.cid-rJHCTXTBdY .navbar.navbar-short .navbar-logo a {
	font-size: 2.5rem !important;
	line-height: 2.5rem;
	transition: font-size 0.25s;
}
.cid-rJHCTXTBdY .navbar.navbar-short .navbar-logo a .mbr-iconfont {
	font-size: 2.5rem !important;
}
.cid-rJHCTXTBdY .navbar.navbar-short .navbar-logo a img {
	height: 3rem !important;
}
.cid-rJHCTXTBdY .navbar.navbar-short .navbar-brand {
	min-height: 3rem;
}
.cid-rJHCTXTBdY button.navbar-toggler {
	width: 31px;
	height: 18px;
	cursor: pointer;
	transition: all 0.2s;
	top: 1.5rem;
	right: 1rem;
}
.cid-rJHCTXTBdY button.navbar-toggler:focus {
	outline: none;
}
.cid-rJHCTXTBdY button.navbar-toggler .hamburger span {
	position: absolute;
	right: 0;
	width: 30px;
	height: 2px;
	border-right: 5px;
	background-color: #333333;
}
.cid-rJHCTXTBdY button.navbar-toggler .hamburger span:nth-child(1) {
	top: 0;
	transition: all 0.2s;
}
.cid-rJHCTXTBdY button.navbar-toggler .hamburger span:nth-child(2) {
	top: 8px;
	transition: all 0.15s;
}
.cid-rJHCTXTBdY button.navbar-toggler .hamburger span:nth-child(3) {
	top: 8px;
	transition: all 0.15s;
}
.cid-rJHCTXTBdY button.navbar-toggler .hamburger span:nth-child(4) {
	top: 16px;
	transition: all 0.2s;
}
.cid-rJHCTXTBdY nav.opened .hamburger span:nth-child(1) {
	top: 8px;
	width: 0;
	opacity: 0;
	right: 50%;
	transition: all 0.2s;
}
.cid-rJHCTXTBdY nav.opened .hamburger span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all 0.25s;
}
.cid-rJHCTXTBdY nav.opened .hamburger span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transition: all 0.25s;
}
.cid-rJHCTXTBdY nav.opened .hamburger span:nth-child(4) {
	top: 8px;
	width: 0;
	opacity: 0;
	right: 50%;
	transition: all 0.2s;
}
.cid-rJHCTXTBdY .collapsed.navbar-expand {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.cid-rJHCTXTBdY .collapsed .btn {
	display: -webkit-flex;
}
.cid-rJHCTXTBdY .collapsed .navbar-collapse {
	display: none !important;
	padding-right: 0 !important;
}
.cid-rJHCTXTBdY .collapsed .navbar-collapse.collapsing,
.cid-rJHCTXTBdY .collapsed .navbar-collapse.show {
	display: block !important;
}
.cid-rJHCTXTBdY .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rJHCTXTBdY .collapsed .navbar-collapse.show .navbar-nav {
	display: block;
	text-align: center;
}
.cid-rJHCTXTBdY .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rJHCTXTBdY .collapsed .navbar-collapse.show .navbar-nav .nav-item {
	clear: both;
}
.cid-rJHCTXTBdY
	.collapsed
	.navbar-collapse.collapsing
	.navbar-nav
	.nav-item:last-child,
.cid-rJHCTXTBdY
	.collapsed
	.navbar-collapse.show
	.navbar-nav
	.nav-item:last-child {
	margin-bottom: 1rem;
}
.cid-rJHCTXTBdY .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rJHCTXTBdY .collapsed .navbar-collapse.show .navbar-buttons {
	text-align: center;
}
.cid-rJHCTXTBdY
	.collapsed
	.navbar-collapse.collapsing
	.navbar-buttons:last-child,
.cid-rJHCTXTBdY .collapsed .navbar-collapse.show .navbar-buttons:last-child {
	margin-bottom: 1rem;
}
@media (min-width: 1024px) {
	.cid-rJHCTXTBdY .collapsed:not(.navbar-short) .navbar-collapse {
		max-height: calc(98.5vh - 3.8rem);
	}
}
.cid-rJHCTXTBdY .collapsed button.navbar-toggler {
	display: block;
}
.cid-rJHCTXTBdY .collapsed .navbar-brand {
	margin-left: 1rem !important;
}
.cid-rJHCTXTBdY .collapsed .navbar-toggleable-sm {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.cid-rJHCTXTBdY .collapsed .dropdown .dropdown-menu {
	width: 100%;
	text-align: center;
	position: relative;
	opacity: 0;
	overflow: hidden;
	display: block;
	height: 0;
	visibility: hidden;
	padding: 0;
	transition-duration: 0.5s;
	transition-property: opacity, padding, height;
}
.cid-rJHCTXTBdY .collapsed .dropdown.open > .dropdown-menu {
	position: relative;
	opacity: 1;
	height: auto;
	padding: 1.4rem 0;
	visibility: visible;
}
.cid-rJHCTXTBdY .collapsed .dropdown .dropdown-submenu {
	left: 0;
	text-align: center;
	width: 100%;
}
.cid-rJHCTXTBdY
	.collapsed
	.dropdown
	.dropdown-toggle[data-toggle='dropdown-submenu']::after {
	margin-top: 0;
	position: inherit;
	right: 0;
	top: 50%;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.3em;
	vertical-align: middle;
	content: '';
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}
@media (max-width: 1023px) {
	.cid-rJHCTXTBdY.navbar-expand {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.cid-rJHCTXTBdY img {
		height: 3.8rem !important;
	}
	.cid-rJHCTXTBdY .btn {
		display: -webkit-flex;
	}
	.cid-rJHCTXTBdY button.navbar-toggler {
		display: block;
	}
	.cid-rJHCTXTBdY .navbar-brand {
		margin-left: 1rem !important;
	}
	.cid-rJHCTXTBdY .navbar-toggleable-sm {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.cid-rJHCTXTBdY .navbar-collapse {
		display: none !important;
		padding-right: 0 !important;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing,
	.cid-rJHCTXTBdY .navbar-collapse.show {
		display: block !important;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing .navbar-nav,
	.cid-rJHCTXTBdY .navbar-collapse.show .navbar-nav {
		display: block;
		text-align: center;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing .navbar-nav .nav-item,
	.cid-rJHCTXTBdY .navbar-collapse.show .navbar-nav .nav-item {
		clear: both;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
	.cid-rJHCTXTBdY .navbar-collapse.show .navbar-nav .nav-item:last-child {
		margin-bottom: 1rem;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing .navbar-buttons,
	.cid-rJHCTXTBdY .navbar-collapse.show .navbar-buttons {
		text-align: center;
	}
	.cid-rJHCTXTBdY .navbar-collapse.collapsing .navbar-buttons:last-child,
	.cid-rJHCTXTBdY .navbar-collapse.show .navbar-buttons:last-child {
		margin-bottom: 1rem;
	}
	.cid-rJHCTXTBdY .dropdown .dropdown-menu {
		width: 100%;
		text-align: center;
		position: relative;
		opacity: 0;
		overflow: hidden;
		display: block;
		height: 0;
		visibility: hidden;
		padding: 0;
		transition-duration: 0.5s;
		transition-property: opacity, padding, height;
	}
	.cid-rJHCTXTBdY .dropdown.open > .dropdown-menu {
		position: relative;
		opacity: 1;
		height: auto;
		padding: 1.4rem 0;
		visibility: visible;
	}
	.cid-rJHCTXTBdY .dropdown .dropdown-submenu {
		left: 0;
		text-align: center;
		width: 100%;
	}
	.cid-rJHCTXTBdY
		.dropdown
		.dropdown-toggle[data-toggle='dropdown-submenu']::after {
		margin-top: 0;
		position: inherit;
		right: 0;
		top: 50%;
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 0.3em;
		vertical-align: middle;
		content: '';
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-left: 0.3em solid transparent;
	}
}
@media (min-width: 767px) {
	.cid-rJHCTXTBdY .menu-logo {
		flex-shrink: 0;
		-webkit-flex-shrink: 0;
	}
}
.cid-rJHCTXTBdY .navbar-collapse {
	flex-basis: auto;
	-webkit-flex-basis: auto;
}
.cid-rJHCTXTBdY .nav-link:hover,
.cid-rJHCTXTBdY .dropdown-item:hover {
	color: #767676 !important;
}
.cid-rJHN6qck5v {
	background-image: url('../../assets/images/background1.jpg');
}
.cid-rJHN6qck5v .media-content {
	word-wrap: break-word;
}
.cid-rJHN6qck5v .form-group {
	padding: 0.5rem;
}
.cid-rJHN6qck5v .form-control {
	text-align: center;
}
.cid-rJHN6qck5v .mbr-figure {
	padding-bottom: 2rem;
}
@media (min-width: 992px) {
	.cid-rJHN6qck5v .mbr-figure {
		padding-right: 4rem;
	}
}
@media (max-width: 992px) {
	.cid-rJHN6qck5v .mbr-text {
		text-align: center;
	}
	.cid-rJHN6qck5v .form-inline {
		justify-content: center;
		-webkit-justify-content: center;
	}
}
@media (max-width: 768px) {
	.cid-rJHN6qck5v .form-control {
		font-size: 0.85rem;
	}
}
.cid-rJHPHZdW3X {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #ffffff;
	background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
	.cid-rJHPHZdW3X .mbr-figure {
		padding-right: 4rem;
	}
}
@media (max-width: 991px) {
	.cid-rJHPHZdW3X .mbr-figure {
		padding-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	.cid-rJHPHZdW3X .mbr-text {
		text-align: center;
	}
}
.cid-rJHPHZdW3X h1 {
	color: #232323;
}
.cid-rJHPHZdW3X .mbr-text,
.cid-rJHPHZdW3X .mbr-section-btn {
	color: #232323;
}
.cid-rJHRjRTYxI {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: var(--bg-panel);
	background: linear-gradient(45deg, var(--bg-panel), var(--bg-panel));
}
.cid-rJHRjRTYxI .media-container-row {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
	.cid-rJHRjRTYxI .mbr-figure {
		padding-right: 4rem;
		padding-right: 0;
		padding-left: 4rem;
	}
}
@media (max-width: 991px) {
	.cid-rJHRjRTYxI .mbr-figure {
		padding-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	.cid-rJHRjRTYxI .mbr-text {
		text-align: center;
	}
}
.cid-rJHRjRTYxI h1 {
	color: #232323;
}
.cid-rJHRjRTYxI .mbr-text,
.cid-rJHRjRTYxI .mbr-section-btn {
	color: #232323;
}
.cid-rJHS95kP24 {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: var(--bg);
	background: linear-gradient(45deg, var(--bg), var(--bg));
}
@media (min-width: 992px) {
	.cid-rJHS95kP24 .mbr-figure {
		padding-right: 4rem;
	}
}
@media (max-width: 991px) {
	.cid-rJHS95kP24 .mbr-figure {
		padding-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	.cid-rJHS95kP24 .mbr-text {
		text-align: center;
	}
}
.cid-rJHS95kP24 h1 {
	color: #232323;
}
.cid-rJHS95kP24 .mbr-text,
.cid-rJHS95kP24 .mbr-section-btn {
	color: #232323;
}
.cid-rJHSrjWgIf {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: var(--bg-panel);
	background: linear-gradient(45deg, var(--bg-panel), var(--bg-panel));
}
.cid-rJHSrjWgIf .media-container-row {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
	.cid-rJHSrjWgIf .mbr-figure {
		padding-right: 4rem;
		padding-right: 0;
		padding-left: 4rem;
	}
}
@media (max-width: 991px) {
	.cid-rJHSrjWgIf .mbr-figure {
		padding-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	.cid-rJHSrjWgIf .mbr-text {
		text-align: center;
	}
}
.cid-rJHSrjWgIf h1 {
	color: #232323;
}
.cid-rJHSrjWgIf .mbr-text,
.cid-rJHSrjWgIf .mbr-section-btn {
	color: #232323;
}
.cid-rJHSrDNDXx {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #ffffff;
	background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
	.cid-rJHSrDNDXx .mbr-figure {
		padding-right: 4rem;
	}
}
@media (max-width: 991px) {
	.cid-rJHSrDNDXx .mbr-figure {
		padding-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	.cid-rJHSrDNDXx .mbr-text {
		text-align: center;
	}
}
.cid-rJHSrDNDXx h1 {
	color: #232323;
}
.cid-rJHSrDNDXx .mbr-text,
.cid-rJHSrDNDXx .mbr-section-btn {
	color: #232323;
}
.cid-rJHY3oJn5S {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #a7b5c4;
}
.cid-rJHY3oJn5S .carousel-control {
	background: #000;
}
.cid-rJHY3oJn5S .mbr-section-subtitle {
	color: #767676;
}
.cid-rJHY3oJn5S .carousel-item {
	-webkit-justify-content: center;
	justify-content: center;
}
.cid-rJHY3oJn5S .carousel-item .media-container-row {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.cid-rJHY3oJn5S .carousel-item .wrap-img {
	text-align: center;
}
.cid-rJHY3oJn5S .carousel-item .wrap-img img {
	max-height: 150px;
	width: auto;
	max-width: 100%;
}
.cid-rJHY3oJn5S .carousel-controls {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.cid-rJHY3oJn5S .carousel-controls .carousel-control {
	background: #000;
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-top: 2rem;
	border-width: 1px;
}
.cid-rJHY3oJn5S .carousel-controls .carousel-control.carousel-control-prev {
	left: auto;
	margin-right: 20px;
	margin-left: 0;
}
.cid-rJHY3oJn5S .carousel-controls .carousel-control.carousel-control-next {
	right: auto;
	margin-right: 0;
}
.cid-rJHY3oJn5S .carousel-controls .carousel-control .mbr-iconfont {
	font-size: 1rem;
}
.cid-rJHY3oJn5S .cloneditem-1,
.cid-rJHY3oJn5S .cloneditem-2,
.cid-rJHY3oJn5S .cloneditem-3,
.cid-rJHY3oJn5S .cloneditem-4,
.cid-rJHY3oJn5S .cloneditem-5 {
	display: none;
}
.cid-rJHY3oJn5S .col-lg-15 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}
@media (min-width: 992px) {
	.cid-rJHY3oJn5S .col-lg-15 {
		-ms-flex: 0 0 20%;
		-webkit-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
		width: 20%;
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides2
		> .carousel-item.active.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides2 > .carousel-item.carousel-item-next {
		left: 0;
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides2
		> .carousel-item.active.carousel-item-left,
	.cid-rJHY3oJn5S .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
		left: 0;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides2 > .carousel-item.carousel-item-left,
	.cid-rJHY3oJn5S
		.carousel-inner.slides2
		> .carousel-item.carousel-item-prev.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides2 > .carousel-item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides2 .cloneditem-1,
	.cid-rJHY3oJn5S .carousel-inner.slides2 .cloneditem-2,
	.cid-rJHY3oJn5S .carousel-inner.slides2 .cloneditem-3 {
		display: block;
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides3
		> .carousel-item.active.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides3 > .carousel-item.carousel-item-next {
		left: 0;
		-webkit-transform: translate3d(33.333333%, 0, 0);
		transform: translate3d(33.333333%, 0, 0);
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides3
		> .carousel-item.active.carousel-item-left,
	.cid-rJHY3oJn5S .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
		left: 0;
		-webkit-transform: translate3d(-33.333333%, 0, 0);
		transform: translate3d(-33.333333%, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides3 > .carousel-item.carousel-item-left,
	.cid-rJHY3oJn5S
		.carousel-inner.slides3
		> .carousel-item.carousel-item-prev.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides3 > .carousel-item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides3 .cloneditem-1,
	.cid-rJHY3oJn5S .carousel-inner.slides3 .cloneditem-2,
	.cid-rJHY3oJn5S .carousel-inner.slides3 .cloneditem-3 {
		display: block;
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides4
		> .carousel-item.active.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides4 > .carousel-item.carousel-item-next {
		left: 0;
		-webkit-transform: translate3d(25%, 0, 0);
		transform: translate3d(25%, 0, 0);
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides4
		> .carousel-item.active.carousel-item-left,
	.cid-rJHY3oJn5S .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
		left: 0;
		-webkit-transform: translate3d(-25%, 0, 0);
		transform: translate3d(-25%, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides4 > .carousel-item.carousel-item-left,
	.cid-rJHY3oJn5S
		.carousel-inner.slides4
		> .carousel-item.carousel-item-prev.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides4 > .carousel-item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides4 .cloneditem-1,
	.cid-rJHY3oJn5S .carousel-inner.slides4 .cloneditem-2,
	.cid-rJHY3oJn5S .carousel-inner.slides4 .cloneditem-3 {
		display: block;
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides5
		> .carousel-item.active.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides5 > .carousel-item.carousel-item-next {
		left: 0;
		-webkit-transform: translate3d(20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides5
		> .carousel-item.active.carousel-item-left,
	.cid-rJHY3oJn5S .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
		left: 0;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides5 > .carousel-item.carousel-item-left,
	.cid-rJHY3oJn5S
		.carousel-inner.slides5
		> .carousel-item.carousel-item-prev.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides5 > .carousel-item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides5 .cloneditem-1,
	.cid-rJHY3oJn5S .carousel-inner.slides5 .cloneditem-2,
	.cid-rJHY3oJn5S .carousel-inner.slides5 .cloneditem-3,
	.cid-rJHY3oJn5S .carousel-inner.slides5 .cloneditem-4 {
		display: block;
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides6
		> .carousel-item.active.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides6 > .carousel-item.carousel-item-next {
		left: 0;
		-webkit-transform: translate3d(16.666667%, 0, 0);
		transform: translate3d(16.666667%, 0, 0);
	}
	.cid-rJHY3oJn5S
		.carousel-inner.slides6
		> .carousel-item.active.carousel-item-left,
	.cid-rJHY3oJn5S .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
		left: 0;
		-webkit-transform: translate3d(-16.666667%, 0, 0);
		transform: translate3d(-16.666667%, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides6 > .carousel-item.carousel-item-left,
	.cid-rJHY3oJn5S
		.carousel-inner.slides6
		> .carousel-item.carousel-item-prev.carousel-item-right,
	.cid-rJHY3oJn5S .carousel-inner.slides6 > .carousel-item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.cid-rJHY3oJn5S .carousel-inner.slides6 .cloneditem-1,
	.cid-rJHY3oJn5S .carousel-inner.slides6 .cloneditem-2,
	.cid-rJHY3oJn5S .carousel-inner.slides6 .cloneditem-3,
	.cid-rJHY3oJn5S .carousel-inner.slides6 .cloneditem-4,
	.cid-rJHY3oJn5S .carousel-inner.slides6 .cloneditem-5 {
		display: block;
	}
}
.cid-rJHY3oJn5S h2 {
	color: #ffffff;
}
.cid-rJHZ4Wxuf7 {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #ffffff;
}
.cid-rJHZ4Wxuf7 h4 {
	text-align: left;
	font-weight: 500;
}
.cid-rJHZ4Wxuf7 p {
	color: #767676;
	text-align: left;
	margin-bottom: 0;
}
.cid-rJHZ4Wxuf7 .card-img {
	text-align: left;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: auto;
}
.cid-rJHZ4Wxuf7 .card-img span {
	font-size: 72px;
	color: #ff3366;
}
.cid-rJHZ4Wxuf7 .card-box {
	padding-left: 1rem;
	word-break: break-word;
	width: 100%;
}
@media (max-width: 991px) {
	.cid-rJHZ4Wxuf7 .card-img {
		text-align: left;
		padding-bottom: 0.75rem;
	}
	.cid-rJHZ4Wxuf7 .card-box {
		padding-left: 0;
	}
}
.cid-rJHZlqBNni {
	padding-top: 90px;
	padding-bottom: 90px;
	background-image: url('../../assets/images/background4.jpg');
}
.cid-rJHZlqBNni p {
	color: #767676;
}
.cid-rJHZlqBNni h1 {
	color: #ffffff;
}
.cid-rJHZNAIUbn {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--bg);
}
.cid-rJHZNAIUbn .form-text {
	color: #767676;
}
@media (max-width: 767px) {
	.cid-rJHZNAIUbn .content {
		text-align: center;
	}
	.cid-rJHZNAIUbn .content > div:not(:last-child) {
		margin-bottom: 2rem;
	}
}
.cid-rJHZNAIUbn .img-logo img {
	height: 6rem;
}
.cid-rJHZNAIUbn .form-group,
.cid-rJHZNAIUbn .input-group-btn {
	padding: 0;
}
.cid-rJHZNAIUbn .form-control {
	font-size: 0.75rem;
	text-align: center;
	min-width: 150px;
}
.cid-rJHZNAIUbn .input-group-btn .btn {
	padding: 0.75rem 1.5625rem !important;
	margin-left: 0.625rem;
	text-transform: none;
	color: #fff;
	text-align: center;
}
.cid-rJHZNAIUbn .copyright .mbr-text {
	color: #767676;
}
@media (max-width: 767px) {
	.cid-rJHZNAIUbn .footer-lower .copyright {
		margin-bottom: 1rem;
		text-align: center;
	}
}
.cid-rJHZNAIUbn .footer-lower hr {
	margin: 1rem 0;
	border-color: var(--color-text2);
	opacity: 0.05;
}
.cid-rJHZNAIUbn .footer-lower .social-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.cid-rJHZNAIUbn .footer-lower .social-list .mbr-iconfont-social {
	font-size: 1.3rem;
	color: var(--color-headings);
}
.cid-rJHZNAIUbn .footer-lower .social-list .soc-item {
	margin: 0 0.5rem;
}
.cid-rJHZNAIUbn .footer-lower .social-list a {
	margin: 0;
	opacity: 0.5;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
}
.cid-rJHZNAIUbn .footer-lower .social-list a:hover {
	opacity: 1;
}
@media (max-width: 767px) {
	.cid-rJHZNAIUbn .footer-lower .social-list {
		-webkit-justify-content: center;
		justify-content: center;
	}
}
@media (max-width: 767px) {
	.cid-rJHZNAIUbn .foot-logo {
		text-align: center !important;
	}
	.cid-rJHZNAIUbn .foot-title {
		text-align: center !important;
	}
	.cid-rJHZNAIUbn .mbr-text {
		text-align: center !important;
	}
	.cid-rJHZNAIUbn .form-group {
		margin: 0;
	}
}

/* Hago desaparecer el celular para tablet y celular, sólo se ve en Desktop */

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1305px) {
	#cel-wrapper {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	/* Toggle Switch - inicio */
	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 59px;
		height: 35px;
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;
		right: 1.4rem;
		bottom: 0.2rem;
	}

	label:active:after {
		width: 25px;
	}
}

@media screen and (max-width: 993px) {
	.cont-stores,
	.cabecera-main {
		text-align: center;
	}

	.cont-stores {
		position: relative !important;
		left: 0.8rem !important;
	}

	.stores {
		width: 170px !important;
	}
}

@media screen and (max-width: 760px) {
	.contenido-texto1 {
		text-align: center;
		margin: 5.5rem auto !important;
		padding: 50px;
		font-family: 'Comfortaa', cursive;
	}
}

@media screen and (max-width: 600px) {
	/* Toggle Switch - inicio */
	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 59px;
		height: 35px;
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;
		right: 2.3rem;
		bottom: 0.82rem;
	}

	label:active:after {
		width: 25px;
	}

	/* Toggle Switch - fin */
}

@media screen and (max-width: 394px) {
	/* Toggle Switch - inicio */
	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 49px;
		height: 35px;
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;
		right: 2.45rem;
		bottom: 0.82rem;
	}

	label:active:after {
		width: 25px;
	}
	/* Toggle Switch - fin */

	.stores {
		width: 90px !important;
	}
}
